<div class="col-md-3 d-flex">
    <div class="flex-grow-1 mb-md-0">
      <div class="card-body">
        <div class="form-group">
          <div class="cart-info">
            <h3 class="card-title">Cart Info:</h3>
            <div class="card">
            <table class="table">
              
            <thead>
              <tr>
                <th scope="col">item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <th scope="row">{{item.product.title}}</th>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.total_price}}</td>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row">Total</th>
                <td>{{cart.cart_items}}</td>
                <td> _ </td>
                <td>{{cart.discounted_price}}</td>
              </tr>
              <tr>
                <th scope="row">Benefit</th>
                <td> _ </td>
                <td> _ </td>
                <td>  </td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>


          <form action="" method="post" novalidate">
              <h3 class="card-title">Shipping Info: </h3>
              <div class="row-form mb-3">
                {% csrf_token %}
                {{ form }}
              </div>
              <input type="submit" class="btn btnTheme w-50 fwEbold text-center text-white md-round py-3 px-4 py-md-3 px-md-4 float-right" value="Purchase" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>