{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div id="pageWrapper">
		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static 'images/Capture2.png' %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">My Cart</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-sm-2 mr-1"><a href="home.html">Home</a></li>
								<li class="mr-sm-2 mr-1">/</li>
								<li class="mr-sm-2 mr-1"><a href="shop.html">Shop</a></li>
								<li class="mr-sm-2 mr-1">/</li>
								<li class="active">My Cart</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- cartHolder -->
			<div class="cartHolder container pt-xl-21 pb-xl-24 py-lg-20 py-md-16 py-10" id="shop-cart">
				<div class="row">
					<!-- table-responsive -->
					<div class="col-12 table-responsive mb-xl-22 mb-lg-20 mb-md-16 mb-10">
						<!-- cartTable -->
						<table class="table cartTable">
							<thead>
								<tr>
									<th scope="col" class="text-uppercase fwEbold border-top-0">product</th>
									<th scope="col" class="text-uppercase fwEbold border-top-0">size</th>
									<th scope="col" class="text-uppercase fwEbold border-top-0">price</th>
									<th scope="col" class="text-uppercase fwEbold border-top-0">quantity</th>
									<th scope="col" class="text-uppercase fwEbold border-top-0">total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in items %}
								<tr class="align-items-center">
									<td class="d-flex align-items-center border-top-0 border-bottom px-0 py-6">
										<div class="imgHolder">
											<img src="{{ item.product.img.url }}" alt="image description" class="img-fluid">
										</div>
										<span class="title pl-2"><a href="shop-detail.html">{{ item.product.title }}</a></span>
									</td>
									<td class="fwEbold border-top-0 border-bottom px-0 py-6">{{ item.size }}</td>
									<td class="fwEbold border-top-0 border-bottom px-0 py-6">{{ item.product.price|floatformat:2 }} $</td>


									<td class="border-top-0 border-bottom px-0 py-6">
									<div style="flex:1">
										<p class="quantity">{{item.quantity}}</p>
										<div class="quantity">
											<img data-product="{{item.product.id}}" data-action="add" data-size="{{item.size}}" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
									
											<img data-product="{{item.product.id}}" data-action="remove" data-size="{{item.size}}" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
										</div>
									</div>
									</td>


									
									<td class="fwEbold border-top-0 border-bottom px-0 py-6">{{ item.total_price|floatformat:2 }} $ 
									<button data-product="{{item.product.id}}" data-action="delete" data-size="{{item.size}}" class="fas fa-times float-right delete-item"></button></td>
								</tr>
								{% endfor %}


			
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<form action="{% url 'shop:checkout' cart.id %}" id="note" class="cartForm mb-5">
					<div class="col-12 col-md-6">
						<div class="d-flex justify-content-between">
							<strong class="txt fwEbold text-uppercase mb-1">subtotal</strong>
							<strong class="price fwEbold text-uppercase mb-1">{{ cart.discounted_price|floatformat:2 }} $</strong>
						</div>
						<button type="submit" form="note"
							class="btn btnTheme w-100 fwEbold text-center text-white md-round py-3 px-4 py-md-3 px-md-4">Proceed to checkout</button>
					</div>
				</form>
				</div>
			
			</div>

		</main>
	</div>
{% endblock content %}