{% extends 'base.html' %}
{% load static %}
{% block content %}
	<style>
	img.cat {
	  height: 600px;
	  object-fit: scale-down;
	}
	.checked {
		color: orange;
	  }
  	</style>
	<div id="pageWrapper">

		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static 'images/Capture2.png' %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">Our Projects</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="{% url 'home:home' %}">Home</a></li>
								<li class="mr-2">/</li>
								<li class="mr-2"><a href="{% url 'home:home' %}#projects">Projects</a></li>
								<li class="mr-2">/</li>
								<li class="active">{{ project.title }}</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10">
				<div class="row mb-6">
					<div class="col-12 col-lg-6 order-lg-1">
						<!-- productSliderImage -->
						<div class="productSliderImage mb-lg-0 mb-4">
							<div>
								<img src="{{ project.img_empURL }}" alt="image description" class="img-fluid w-100" 
								style="vertical-align: top;">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 order-lg-3">
						<!-- productTextHolder -->
						<div class="productTextHolder overflow-hidden">
							<h2 class="fwEbold mb-2">{{ project.title }}</h2>
							<p class="mb-5">{{ project.description }}</p>
								<a
								href="{% url 'home:contact' %}"
								class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4"
								>More Info<i class="fas fa-arrow-right ml-2"></i
							  ></a>
							  </form>
						</div>
					</div>
				</div>

			</div>
	</div>
{% endblock content %}
