{% extends 'base.html' %}
{% load static %}
{% block content %}
	<style>
	img.cat {
	  height: 600px;
	  object-fit: scale-down;
	}
	.checked {
		color: orange;
	  }
	{% comment %} .form-check {
		display: grid;
		grid-template-columns: 10% 10% 10% 10% 10% 10%;
		grid-template-rows: auto;
	} {% endcomment %}
  	</style>
	<div id="pageWrapper">

		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static 'images/Capture2.png' %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="home.html">Home</a></li>
								<li class="mr-2">/</li>
								<li class="mr-2"><a href="shop.html">Shop</a></li>
								<li class="mr-2">/</li>
								<li class="active">{{ product.title }}</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10">
				<div class="row mb-6">
					<div class="col-12 col-lg-6 order-lg-1">
						<!-- productSliderImage -->
						<div class="productSliderImage mb-lg-0 mb-4">
							<div>
								<img src="{{ product.imgURL }}" alt="image description" class="img-fluid cat w-100">
							</div>
							<div>
								<img src="{{ product.imgURL }}" alt="image description" class="img-fluid cat w-100">
							</div>
							<div>
								<img src="{{ product.imgURL }}" alt="image description" class="img-fluid cat w-100">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 order-lg-3">
						<!-- productTextHolder -->
						<div class="productTextHolder overflow-hidden">
							<h2 class="fwEbold mb-2">{{ product.title }}</h2>
							<ul class="card-title list-unstyled ratingList d-flex flex-nowrap mb-2">
								<span class="mr-1 fa fa-star {% if product.rate > 0 %} checked {% endif %}"></span>
								<span class="mr-1 fa fa-star {% if product.rate > 1 %} checked {% endif %}"></span>
								<span class="mr-1 fa fa-star {% if product.rate > 2 %} checked {% endif %}"></span>
								<span class="mr-1 fa fa-star {% if product.rate > 3 %} checked {% endif %}" ></span>
								<span class="mr-1 fa fa-star {% if product.rate > 4 %} checked {% endif %}"></span>
								<li></h5>{{ product.rate }} / 5  ({{ product.votes }} customer reviews )</li>
							</ul>
							<ul class="list-unstyled ratingList d-flex flex-nowrap mb-2">
								<li class="mr-2"><a href="{% url 'shop:rate' product.id '1' %}"><i class="far fa-star"></i></a></li>
								<li class="mr-2"><a href="{% url 'shop:rate' product.id '2' %}"><i class="far fa-star"></i></a></li>
								<li class="mr-2"><a href="{% url 'shop:rate' product.id '3' %}"><i class="far fa-star"></i></a></li>
								<li class="mr-2"><a href="{% url 'shop:rate' product.id '4' %}"><i class="far fa-star"></i></a></li>
								<li class="mr-2"><a href="{% url 'shop:rate' product.id '5' %}"><i class="far fa-star"></i></a></li>
							</ul>
							<strong class="price d-block mb-5 text-green">{{ product.price|floatformat:2 }} $</strong>
							<p class="mb-5">{{ product.description }}</p>
							<ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
								<li class="mb-2">Product Code: <span>{{ product.code }}</span></li>
								<li class="mb-2">Quantity: <span>{{ product.quantity }} Items</span></li>
								<li class="mb-2">Shipping tax: <span>{{ product.shipping_tax }}</span></li>
							</ul>
							<form action="" method="post">
								<h6 class="text-uppercase mr-6">Size:</h6>
								{% csrf_token %}
								<div class="form-check">
									
									{% if product.size_L %}
									{{ form.size_L }}
									{{ form.size_L.label_tag }}
									{% endif %}

									{% if product.size_M %}
									{{ form.size_M }}
									{{ form.size_M.label_tag }}
									{% endif %}

									{% if product.size_S %}
									{{ form.size_S }}
									{{ form.size_S.label_tag }}
									{% endif %}
								</div>
								{% comment %} <button type="submit" class="btn btn-primary mt-3">Submit</button> {% endcomment %}
								<div class="holder overflow-hidden d-flex flex-wrap mb-6">
									<input type="submit" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4 py-md-3 px-md-4" value="Add To Cart">
								</div>
							  </form>




							<ul class="list-unstyled socialNetwork d-flex flex-wrap mb-sm-11 mb-4">
								<li class="text-uppercase mr-5">SHARE THIS PRODUCT:</li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-pinterest-p"></a></li>
							</ul>
							<ul class="list-unstyled productInfoDetail mb-0">
								<li class="mb-2">Categories: <a href="javascript:void(0);">Butter &amp; Eggs,</a> <a href="javascript:void(0);">Fruits,</a> <a href="javascript:void(0);">Milk &amp; Cream,</a> <a href="javascript:void(0);">Vegetables</a></li>
								<li class="mb-2">Tags: <a href="javascript:void(0);">organic food,</a> <a href="javascript:void(0);">fruits,</a> <a href="javascript:void(0);">juice</a></li>
								<li>Brand: <a href="javascript:void(0);">KFC</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- paggSlider -->
						<div class="paggSlider">
							<div>
								<div class="imgBlock">
									<img src="{{ product.imgURL }}" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="{{ product.imgURL }}" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="{{ product.imgURL }}" alt="image description" class="img-fluid">
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<section class="featureSec container overflow-hidden pt-xl-12 pb-xl-29 pt-lg-10 pb-lg-14 pt-md-8 pb-md-10 py-5">
				<div class="row">
					<!-- mainHeader -->
					<header class="col-12 mainHeader mb-5 text-center">
						<h1 class="headingIV playfair fwEblod mb-4">Related products</h1>
					</header>
				</div>
				<div class="row">
					{% for product in related_products %}
					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-7">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								<img src="{{ product.imgURL }}" alt="image description" class="img-fluid w-100">
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a data-action="add" data-product="{{product.id}}" class="add-to-cart icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="{% url 'shop:shop-detail' product.id %}" class="icon-eye d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-5 px-4">
								<span class="title d-block mb-2"><a href="shop-detail.html">{{ product.title }}</a></span>
								<span class="price d-block fwEbold">{{ product.price|floatformat:2 }} $</span>
								{% if product.sale %}
								<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>

			
	</div>
{% endblock content %}
