{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div id="pageWrapper">
		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static 'images/Capture2.png' %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="home.html">Home</a></li>
								<li class="mr-2">/</li>
								<li class="active">Shop</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-lg-23 pb-lg-20 pt-md-16 pb-md-4 pt-10 pb-4">
				<div class="row" id="shop-main">
					<div class="col-12 col-lg-9 order-lg-3">
						<!-- content -->
						<article id="content">
							<!-- show-head -->
							<header class="show-head d-flex flex-wrap justify-content-between mb-7">
								<ul class="list-unstyled viewFilterLinks d-flex flex-nowrap align-items-center">
									<li class="mr-2"><a href="javascript:void(0);" class="active"><i class="fas fa-th-large"></i></a></li>
									<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-list"></i></a></li>
									<li class="mr-2">Showing 1–9 of 24 results</li>
								</ul>
								<!-- sortGroup -->
								<div class="sortGroup">
									<div class="d-flex flex-nowrap align-items-center">
										<strong class="groupTitle mr-2">Sort by:</strong>
										<div class="dropdown">
											<button onclick="SortFunction()" class="dropdown-toggle buttonReset dropbtn" type="button"
											 id="sortGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{sort_by}}</button>
											<ul id="Dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="sortGroup">
												<li><a href="{% url 'shop:newest' sort_by='newest' category='all' %}#shop-main">Newest</a></li>
												<li><a href="{% url 'shop:newest' sort_by='most_rated' category='all' %}#shop-main">Most Rated</a></li>
												<li><a href="{% url 'shop:newest' sort_by='most_seller' category='all' %}#shop-main">Most Seller</a></li>
											</ul>
										</div>
									</div>
								</div>
							</header>





							<div class="row">
								<!-- featureCol -->
								{% for product in page_obj %}
								<div class="col-12 col-sm-6 col-lg-4 featureCol mb-7">
									<div class="border">
										<div class="imgHolder position-relative w-100 overflow-hidden">
											<img src="{{ product.imgURL }}" alt="image description" class="img-fluid w-100 cat">
											<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">

												<li class="mr-2 overflow-hidden"><a data-action="add" data-product="{{product.id}}" class="add-to-cart icon-cart d-block"></a></li>
												<li class="mr-2 overflow-hidden"><a href="{% url 'shop:shop-detail' product.id %}" class="icon-eye d-block"></a></li>

											</ul>
										</div>
										<div class="text-center py-5 px-4">
											<span class="title d-block mb-2"><a href="shop-detail.html">{{ product.title }}</a></span>
											<span class="price d-block fwEbold">{{ product.price|floatformat:2 }} $</span>
											{% if product.hot %}
											<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
											{% endif %}
											{% if product.sale %}
											<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block ml-8">Sale</span>
											{% endif %}
										</div>
									</div>
								</div>
								{% endfor %}





								<div class="pagination col-12 pt-3 mb-lg-0 mb-md-6 mb-3">
									<ul class="step-links list-unstyled pagination d-flex justify-content-center align-items-end">
										{% if page_obj.has_previous %}
											<a class="pag" href="?page=1">&laquo; first</a>
											<a class="pag" href="?page={{ page_obj.previous_page_number }}">previous</a>
										{% endif %}
								
										<span class="current">
											Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
										</span>
								
										{% if page_obj.has_next %}
											<a class="pag" href="?page={{ page_obj.next_page_number }}">next</a>
											<a class="pag" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
										{% endif %}
									</ul>
								</div>



							</div>
						</article>
					</div>
					<div class="col-12 col-lg-3 order-lg-1">
						<!-- sidebar -->
						<aside id="sidebar">
							<!-- widget -->
							<section class="widget mb-20">
								<form action="" name="search_bar" class="searchForm position-relative" method="get">
									<fieldset>
										{{ form }}
										<input class="search btn btn-outline-primary float-right icon-search" type="submit" value="search">
									</fieldset>
								</form>
							</section>
							<!-- widget -->
							<section class="widget overflow-hidden mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-5">PRODUCT CATEGORIES</h3>
								<ul class="list-unstyled categoryList mb-0">
									{% for cat, count in cats.items %}
									<li class="mb-5 overflow-hidden"><a href="{% url 'shop:newest' sort_by='newest' category=cat %}">{{cat}}<span class="num border float-right">{{count}}</span></a></li>
									{% endfor %}
								</ul>
							</section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-6">Filter by price</h3>
								<h7 style="font-weight : 500" >Price range between {{abs_min}} - {{abs_max}} $</h7>
								<form method="get" action="" class="filter-ranger-form">
									
									{% csrf_token %}
									<div class="range-slider">
										<div class="row">
											<label for="min_price" class="ml-4 mt-3 text-center">Min :</label>
											<input name="min_price" class="form-control price ml-4 mt-3 text-center" type="text" placeholder="{{ min_price }}">
										</div>
										<div class="row">
											<label for="max_price" class="mt-3 ml-4 text-center">Max :</label>
											<input name="max_price" class="form-control price ml-4 mt-3 text-center" type="text" placeholder="{{ max_price }}">
										</div>
									</div>

									<button type="submit" class="btn btnTheme btn-shop fwEbold px-3 pt-1 pb-2 text-uppercase mt-3 float-right text-center">Filter</button>

								</form>


							</section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-6">top rate</h3>
								<ul class="list-unstyled recentListHolder mb-0 overflow-hidden">
									{% for product in top_rating %}
									<li class="mb-6 d-flex flex-nowrap">
										<div class="alignleft">
											<a href="{% url 'shop:shop-detail' product.id %}"><img src="{{ product.imgURL }}" alt="image description" class="img-fluid"></a>
										</div>
										<div class="description-wrap pl-1">
											<h4 class="headingVII mb-1"><a href="shop-detail.html">{{ product.title }}</a></h4>
											<strong class="price fwEbold d-block;">{{ product.price|floatformat:2 }} $</strong>
										</div>
									</li>
									{% endfor %}



								</ul>
							{% comment %} </section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-5">product tags</h3>
								<ul class="list-unstyled tagNavList d-flex flex-wrap mb-0">
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Plant</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Floor</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Indoor</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Green</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Healthy</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Cactus</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">House plant</a></li>
									<li class="text-center"><a href="javascript:void(0);" class="md-round d-block">Office tree</a></li>
								</ul>
							</section> {% endcomment %}
						</aside>
					</div>
				</div>
			</div>
			<div class="container mb-lg-24 mb-md-16 mb-10">
				<!-- subscribeSecBlock -->
				<section class="subscribeSecBlock bgCover col-12 pt-lg-24 pb-lg-12 pt-md-16 pb-md-8 py-10" style="background-image: url({% static 'images/sd.png' %})">
					<header class="col-12 mainHeader mb-9 text-center">
						<h1 class="headingIV playfair fwEblod mb-4">Subscribe Our Newsletter</h1>
						<span class="headerBorder d-block mb-5"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
						<p class="mb-6">Enter Your email address to join our mailing list and keep yourself update</p>
					</header>
					<form class="emailForm1 mx-auto overflow-hidden d-flex flex-wrap">
						{% csrf_token %}
						<input name="sub-email" type="email" class="form-control px-4 border-0" placeholder="Enter your mail...">
						<button type="submit" class="btn btnTheme btnShop fwEbold text-white py-3 px-4 py-md-3 px-md-4">Subscribe Now <i class="fas fa-arrow-right ml-2"></i></button>
					</form>
				</section>
			</div>

	</div>

{% endblock content %}